<ion-content>
  <div>
    <img class="main-image" src="./assets/images/main-image.png" alt="main-image"/>
    <div class="info-container">
      <section class="tag-section">
      <span>#지구지킴이</span>
      <span>#플라스틱프리</span>
      </section>
      <img class="title" src="./assets/images/zeroWaste.png" alt="title"/>
      <p>플라스틱을 줄이고<br>
        재활용이 가능한 재료를 사용하여<br>
        쓰레기 없는 삶을 지향하는 움직임</p>
    </div>
    <div class="shop-container">
      <div class="shot-info">
        <img class="market" src="./assets/images/theFicker.png" alt="title"/>
        <p>가장 신선한 재료를 필요한 만큼 가져갈 수 있는 <br><span>The Ficker</span></p>
      </div>
      <div class="shot-info">
        <img class="market" src="./assets/images/playground.png" alt="title"/>
        <p>가장 신선한 재료를 필요한 만큼 가져갈 수 있는 <br><span>Playground</span></p>
      </div>
    </div>
  </div>
</ion-content>
