<ion-header>
  <ion-toolbar>
    <div class="chat-title">
      <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>
      <ion-title>chat</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product-info" (click)="chat()">
    <img src="./assets/images/testImage.png"/>
    <h2>샴푸, 린스 샘플 나눔합니다</h2>
  </div>
  <div class="product-info">
    <img src="./assets/images/testImage.png"/>
    <h2>종이박스 구해요~</h2>
  </div>
  <div class="product-info">
    <img src="./assets/images/testImage.png"/>
    <h2>젓가락 가져가세요!!!!!</h2>
  </div>
</ion-content>
