<ion-header>
  <ion-toolbar>
    <div class="chat-title">
      <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>
      <ion-title>chat</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product-info">
    <img [src]="chatInfo?.image | getImageUrl | async"/>
    <h2>{{chatInfo?.title}}</h2>
  </div>

  <div class="chat">
    <div *ngFor="let chat of socketData">
      <p [class.me]="chat.user==userId" [class.user]="chat.user!=userId">
        <span>{{chat.message}}</span>
      </p>
    </div>
  </div>

  <div class="chat-bottom">
    <div class="chat-input-wrapper">
      <ion-input [(ngModel)]="text"></ion-input>
    </div>
    <button (click)="send()">전송</button>
  </div>
</ion-content>
